.section
  .container
    .col-wrap.section-text-img
      .col-wrap__col
        .title
          span.part-sh We’re 
          span.part-mc fast
        .desc-part
          p Build your credit history and savings with the help of our Credit <br>
            | Builder for an improved credit score, better value loans and <br>
            | access to other Monese credit products for a secure, financial future.
        .block-control
          a(href='').btn.btn--accent.btn--arrow Подробности
            svg.icon
              use(xlink:href='#arrow')
          a(href='').question Есть вопросы?
      .col-wrap__col
        .section-text-img__img
          img(loading="lazy" src="images/dist/phone1.webp", alt="" )

          