.section
  .feedback 
    .container-lg
      .title.tac
        span.part-mc Напишите нам 
        span.part-sh и мы свяжемся с вами
      p.tac Наша дружная команда поддержки клиентов всегда готова  
      br  
      form(action="#") 
        .feedback__form 
          .feedback__form-col 
            textarea.feedback__textarea.typical-block(placeholder="Развёрнуто напишите интересующий вас вопрос...")
          .feedback__form-col 
            h3.tac AIZEN Support
            .input
              input(placeholder="Как к вам обратиться")
            .input
              input(placeholder="Email для обратной связи")
            button(type="submit").btn.btn--light Отправить