.section
  .container 
    .col-wrap.section-text-img
      .col-wrap__col
        .title
          span.part-sh Мы  
          span.part-mc создаем <br>
          span.part-sh-invert будущение Финтех
        .desc-part
          p Build your credit history and savings with the help of our Credit <br>
            | Builder for an improved credit score, better value loans and <br>
            | access to other Monese credit products for a secure, financial <br>
            | future.  
        .block-control 
          a(href="#").btn.btn--accent.btn--arrow Подробности 
            svg.icon
              use(xlink:href='#arrow')
          a(href="#").question Есть вопросы?
                  
      .col-wrap__col
        .section-text-img__img.big-img
          img(loading="lazy" src="images/dist/future.webp", alt="" with="575" height="575")
          .section-text-img__img-interactive
            .section-text-img__img-interactive-col
              .section-text-img__img-interactive-img
                img(src="images/dist/future-elem.webp", alt="")
            .section-text-img__img-interactive-col
              .accent Credit builder
              .txt Improve your credit score while saving money
            .section-text-img__img-interactive-col
              a(href="#") 
                svg(stroke="#B0B2B2").icon.icon--stroke.angle
                  use(xlink:href='#angle')


            



