.gradient-section
  .container.jcc-fdc
    .gradient-section__desc
      h2.gradient-section__title.tac Sign up with Aizen today
      p.tac So what are you waiting for? Join over 2 million people who’ve found a better way to manage <br>
        | their money online. Sign up to Monese to open your mobile money account today.
    div.tac
      a(href="#").btn.btn--light Sing up 