.section
  .container
    .col-wrap.section-text-img
      .col-wrap__col
        .title
          span.part-sh We’re 
          span.part-mc inclusive
        .desc-part
          p We believe everyone should have access to financial services. <br>
          | That’s why we make opening an instant mobile money account <br>
          | as easy as we can.
        .block-control
          a(href='#').btn.btn--accent.btn--arrow Подробности
            svg.icon
              use(xlink:href='#arrow')
          a(href='#').question Есть вопросы?
      .col-wrap__col
        .section-text-img__img.big-img
          img(loading="lazy" src='images/dist/phone2.webp', alt='' with="575" height="575")
          




