.section
  .container
    .col-wrap.section-text-img

      .col-wrap__col
        .title
          span.part-sh Мы 
          span.part-mc мультиязычны
        .desc-part
          p Talk to our multilingual Support team and use your app in 15 <br>
            | languages: Kyrgyz, Russian, English, Turkish, German.
        .block-control
          a(href='').btn.btn--accent.btn--arrow Подробности
            svg.icon
              use(xlink:href='#arrow')
          a(href='').question Есть вопросы?

      .col-wrap__col
        .section-text-img__img
          img(loading="lazy" src="images/dist/multilang.webp", alt="" with="575" height="575")
            
          