.section
  .container
    .col-wrap
      .title.title--drop-shadow.fadeOut1
        span.part-sh Ваш 
        span.part-mc надежный 
        span.part-sh партнер в 
        br
        span.part-sh-invert управлении финансами. 
  
      .desc-part.fadeOut2
        p Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Integer dictum nisi vitae <br> congue dictum. Morbi ut gravida arcu. In <br> porta tempor venenatis. 