.section
  .container
    .col-wrap.section-text-img
      .col-wrap__col
        .title
          span.part-sh We’re keeping your <br>
          span.part-mc protected
        .desc-part
          p Protect the bills and purchases that you pay for through your <br>
            | Monese account, including electronic devices. Join one of our <br>
            | paid plans and your insurance will start today!
        .block-control
          a(href='').btn.btn--accent.btn--arrow Подробности
            svg.icon
              use(xlink:href='#arrow')
          a(href='').question Есть вопросы?  
      .col-wrap__col
        .section-text-img__img.big-img
          img(loading="lazy" src="images/dist/protect-laptop.webp", alt="" with="575" height="575")
        
        
      