.section
  .txt-section 
    .container
      .title.tac
        span.part-mc AIZEN 
        span.part-sh-invert FAQs
      p.tac We aim to make managing your money as simple and accessible as possible. Find answers to common questions about mobile money accounts below. You can also check our 
        a(href="#") FAQs
        |  or 
        a(href="#") contact our friendly Support team.   
      .accordion
        mixin item(title)
          .accordion__item
            .accordion__title=title
              svg.icon.icon--stroke
                use(xlink:href='#angle')
            .accordion__desc
              mixin p(p)
                p=p
              block
        +item('What is a mobile money account?')
          +p('A mobile money account is an innovative financial technology helping people spend, send and save money from an app on their mobile phone. You may see this referred to as an online bank account alternative or a banking app alternative.')
          +p('Opening one allows you to add money to a secure electronic account to use for quick mobile payments and transfers. You can also track your spending and control your savings from the same app.')
          +p('You don’t need to have a bank account to open a mobile money account. This makes it different to mobile banking, which involves using a phone to access traditional banking services.')
          +p('It’s an ideal banking app alternative for people who are excluded from traditional banking services for lacking a perfect credit history. Others simply prefer the convenience this type of account offers when travelling, living and working abroad.')
        
        +item('What are the benefits of a digital money account?')
          +p('Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ipsum.')
          
        +item('Is a mobile money account safe?')
          +p('Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ipsum.')
              
        +item('How to get a mobile money account')
          +p('Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ipsum.')
        
        +item('What is Aizen?')
          +p('Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ipsum.')
          
      p What is Aizen?
      br
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus imperdiet suscipit. Nullam imperdiet eu ex eget maximus. Proin vitae eleifend velit. Mauris aliquam arcu id felis venenatis, non suscipit mi varius. Suspendisse malesuada est id ante mattis consectetur. Maecenas et tortor leo. Donec iaculis id nulla convallis convallis. Mauris vel purus mi.
        | Fusce cursus vel ipsum non tristique. Curabitur ornare fermentum faucibus. Etiam venenatis auctor justo, a malesuada turpis imperdiet id. Etiam odio turpis, accumsan nec urna ac, ultricies vestibulum purus. Quisque ullamcorper congue eleifend. Suspendisse potenti. Maecenas lobortis feugiat massa, sit amet maximus turpis tristique sit amet. Aliquam tempor sed metus vitae efficitur. Sed rutrum non nibh nec auctor. Donec rutrum tempus lectus, a faucibus tortor sagittis non. Nulla euismod, eros quis varius mattis, arcu nisl tristique tellus, non blandit nisl risus at ipsum. Nam sit amet vestibulum ligula. Proin quam nulla, porta vel at.
    


