extends layouts/main
block title
  | bank card
block main
  .wrapper
    .content
      include includes/header/header

      .hero-full-height
        .container-lg
          .title.title--drop-shadow.tac
            span.part-sh Легко и быстро  
            span.part-mc получите  
            span.part-sh-invert карту от AIZEN  
          p.tac Бесконтактная дебетовая карта Mastercard для любой точки мира


          .txt-img-blur.typical-block
            .col-wrap
              .col-wrap__col
                .txt-img-blur__text
                  .title
                    span.part-sh Войдите в 
                    span.part-mc аккаунт 
                    span.part-sh-invert чтобы получить карту 
                  p Загрузите приложение сегодня, чтобы начать тратить, отправлять и копить с AIZEN.
                  br
                  a.btn.btn--accent(href='#') Перейти к скачиванию
              .col-wrap__col
                .txt-img-blur__img
                  img(loading="lazy" src='images/dist/txt-blur-card.webp', alt='' with="277" height="207")
      .section-wrap

        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Будь на 
                  span.part-mc стиле  
                  span.part-sh-invert картой от AIZEN
                .desc-part
                  p Наши элегантные карты AIZEN красиво оформлены, чтобы <br>
                    | соответствовать вашему плану и стилю жизни. Выберите свой <br>
                    | план AIZEN и закажите бесплатную физическую карту для <br>
                    | быстрой доставки. Начните тратить сразу с виртуальной картой.
                .block-control
                  a(href='#').btn.btn--accent.btn--arrow Подробности
                    svg.icon
                      use(xlink:href='#arrow')
                  a(href='#').question Есть вопросы?
              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/txt-card.webp', alt='' with="575" height="575")


        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Получите доступ к <br>
                  span.part-mc своим деньгам,
                  span.part-sh-reverce где бы <br>
                    | вы ни находились 

                .desc-part
                  p Карта AIZEN — ваш пропуск к финансовой свободе. Вы <br>
                    | можете получить доступ к деньгам на счете своей дебетовой <br>
                    | карты AIZEN в магазине, онлайн или в банкоматах по всему миру, <br>
                    | и вы получите выгодный обменный курс Mastercard <br>
                    | при оплате за границей.

              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src="images/dist/phone1.webp", alt="" with="575" height="575")

        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Снимайте  
                  span.part-mc когда <br>
                    | угодно 
                  span.part-sh-invert и где угодно
                .desc-part
                  p Получайте наличные, когда они вам нужны. Используйте <br>
                    | предоплаченную карту Mastercard для снятия средств в <br>
                    | банкоматах в любой точке мира без скрытых комиссий.
                .block-control
                  a(href='#').btn.btn--accent.btn--arrow Подробности
                    svg.icon
                      use(xlink:href='#arrow')
                  a(href='#').question Есть вопросы?
              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/card-in-hand.webp', alt='' with="575" height="575")


        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Совершайте <br>
                  span.part-mc бесконтактные платежи

                .desc-part
                  p Простые, быстрые и безопасные платежи одним касанием <br>
                    | предоплаченной дебетовой карты в любом бесконтактном <br>
                    | терминале.

              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/card-in-hand2.webp', alt='' with="575" height="575")


        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Платите с помощью <br>
                  span.part-mc телефона

                .desc-part
                  p Оплачивайте быстро и безопасно в Интернете и в магазине <br>
                    | с помощью Apple Pay или Google Pay. Нет необходимости в <br>
                    | физической карте.

              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/phone3.webp', alt='' with="575" height="575")


        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh We’re making 
                  span.part-mc global 
                  span.part-sh-invert local
                .desc-part
                  p Protect the bills and purchases that you pay for through your <br>
                    | Monese account, including electronic devices. Join one of our <br>
                    | paid plans and your insurance will start today!
                .block-control
                  a(href='#').btn.btn--accent.btn--arrow Подробности
                    svg.icon
                      use(xlink:href='#arrow')
                  a(href='#').question Есть вопросы?
              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/phone4.webp', alt='' with="575" height="575")


        .section
          .container
            .col-wrap.section-text-img
              .col-wrap__col
                .title
                  span.part-sh Блокировка и разблокировка <br>
                  span.part-mc на ходу

                .desc-part
                  p Потеряли карту? Обеспечьте безопасность счета дебетовой <br>
                    | карты и защиту денег, заблокировав карту в приложении.
                .block-control
                  a(href='#').btn.btn--accent.btn--arrow Подробности
                    svg.icon
                      use(xlink:href='#arrow')
                  a(href='#').question Есть вопросы?
              .col-wrap__col
                .section-text-img__img
                  img(loading="lazy" src='images/dist/lock.webp', alt='' with="575" height="575")



      include includes/txt-section
      include includes/gradient-section
      include includes/comments



    include includes/footer/footer


  include includes/scripts 