extends layouts/main
block title
  | basic account
block main
  .wrapper
    .content
        include includes/header/header
        
        .hero-full-height
          .container-lg
            .title.title--drop-shadow.tac
              span.part-sh Мгновенно откройте базовый <br>  
              span.part-mc счет для своих денег
              
            p.tac Мобильный денежный счет всего за несколько нажатий!

        .section-wrap
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Несложный способ <br>
                    span.part-mc управлять своими <br>
                    span.part-sh-invert деньгами                    
                  .desc-part
                    p Открытие основного банковского счета в крупном банке может быть долгим, сложным и трудоемким процессом. Часто они требуют бесчисленных документов и многочисленных личных встреч. Но в Aizen нам нравится делать что-то немного по-другому. Мы, проще говоря, быстрее. С нашим приложением вы можете открыть свой собственный полностью мобильный базовый счет прямо на месте — без проверок кредитоспособности, без подтверждения адреса, без посещений отделений, без телефонных звонков и без задержек.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account1.webp', alt='' with='575' height='575')
           
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Получите больше <br>
                    span.part-mc от своего счета <br>
                    span.part-sh-invert мобильных денег
                    
                  .desc-part
                    p Традиционные банки часто взимают огромные комиссии за абсолютно минимальный уровень обслуживания и функций. В Aizen у нас множество функций — бесконтактная дебетовая карта Visa, которую можно использовать где угодно, мобильные уведомления в режиме реального времени, чтобы легко отслеживать ваши расходы на ходу, лучшие обменные курсы для расходов в иностранной валюте и транзакции через банкоматы без каких-либо комиссий и многое другое.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account2.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Присоединиться <br>
                    span.part-mc просто
                    
                  .desc-part
                    p Крупные банки могут исключать потенциальных клиентов, даже если им нужна просто базовая учетная запись! Но в Aizen мы верим в инклюзивность и в то, что каждый должен иметь доступ к основным финансовым услугам. Вот почему мы упрощаем открытие счета у нас.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account3.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Ваша безопасная <br>
                    span.part-mc бесконтактная карта
                    
                  .desc-part
                    p Обеспечение безопасности и защиты вашего счета и денег чрезвычайно важно для нас. Вот почему безопасность всегда лежит в основе всего, что мы делаем. Будьте спокойны, используя элегантную и стильную карту Monese, зная, что она обеспечивает дополнительные уровни безопасности. Он бесконтактный, поэтому используйте его для быстрой и безопасной оплаты всего одним нажатием карты на любом бесконтактном терминале. И если вы когда-нибудь потеряете свою карту, знайте, что ваши деньги по-прежнему в безопасности, поскольку вы можете легко заблокировать карту прямо из своего приложения.
                  
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account4.webp', alt='' with='575' height='575')
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Платите с помощью <br>
                    span.part-mc смартфона
                  .desc-part
                    p Или зачем вообще платить физической картой? Привяжите свою карту Aizen к Apple Pay или Google Pay для еще более безопасного способа оплаты в Интернете и в магазине. Вы даже можете создать виртуальную карту для дополнительной безопасности при совершении покупок в Интернете. Вы также можете мгновенно связать свою карту Aizen со своей учетной записью PayPal!
                  
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account5.webp', alt='' with='575' height='575')

          .gradient-section
            .container.jcc-fdc
              .gradient-section__desc
                h2.gradient-section__title.tac Получите счет для мгновенных мобильных денег сегодня
                p.tac Расширьте свой опыт управления капиталом, когда зарегистрируетесь в Aizen. Вы можете легко открыть у нас счет, если живете в любой из 31 страны Европейской экономической зоны. И так, чего же ты ждешь?
              div.tac
                a(href="#").btn.btn--light Зарегистрироваться

        
        

    include includes/footer/footer


  include includes/scripts 