extends layouts/main
block title
  | business account
block main
  .wrapper
    .content
        include includes/header/header
        
        .hero-full-height
          .container-lg
            .hero-full-height__wrap
              img(src="images/dist/business-account1.webp", alt="")   
              .title.title--drop-shadow.tac
                span.part-sh Откройте онлайн <br>
                span.part-mc Бизнес Аккаунт
                  
                br
                br
                p.tac Счет мобильных денег для вашей компании
                br
                a.btn.btn--light(href="#") Оформить
                br
                br
                p Уведомление о конфиденциальности
    
              img(src="images/dist/business-account2.webp", alt="")   
          
        .section-wrap
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-mc Место для денег <br>
                    span.part-sh вашей компании
                    
                  .desc-part
                    p Если у вас есть бизнес, зарегистрированный, легко открыть бизнес-счет в Aizen, чтобы разделить личные финансы и финансы компании. Легко управляйте и отслеживайте свои расходы для обеих учетных записей в одном приложении.  
                  
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account3.webp', alt='' with='575' height='575')
                    
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Две учетные записи <br>
                    span.part-mc — один пользователь
                    
                  .desc-part
                    p Управляйте своими личными и бизнес-аккаунтами из одного приложения. Легко переключайтесь между обеими учетными записями для более плавного взаимодействия. Отслеживайте свои расходы и получайте уведомления о любых действиях для обеих учетных записей, и все это из вашего приложения Aizen.
                  
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account4.webp', alt='' with='380' height='575')
                    
         
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Откройте свой счет <br>
                    span.part-mc за несколько шагов
                    
                  .desc-part
                    p Имея только ваше удостоверение личности, мы быстро настроим для вас корпоративный счет для мобильных денег. Никаких дополнительных документов, телефонных звонков и длительного ожидания.
                  
                  .block-control
                    a(href='#').btn.btn--accent.btn--arrow Подробности
                      svg.icon
                        use(xlink:href='#arrow')
                    a(href='#').question Есть вопросы?
                
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account5.webp', alt='' with='575' height='575')
                    

          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-mc Едиственная карта <br>
                    span.part-sh-invert которая вам понадобится
                  .desc-part
                    p Ваша бесконтактная дебетовая карта Mastercard для бизнеса — это та карта, которая вам нужна, когда вы совершаете покупки в магазине или в Интернете, а также в любой точке мира. Благодаря щедрым возможностям используйте его для бесплатного снятия средств по всему миру в любом банкомате или для оплаты одним касанием в любом бесконтактном терминале по всему миру. Это просто, быстро и безопасно.
                  .block-control
                    a(href='#').btn.btn--accent.btn--arrow Подробности
                      svg.icon
                        use(xlink:href='#arrow')
                    a(href='#').question Есть вопросы?
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account6.webp', alt='' with='575' height='575')

                    


          .section
            .container
              .col-wrap.section-text-img.section-text-img--additional-info
                .col-wrap__col
                  .title
                    span.part-mc Используйте везде <br>
                    span.part-sh-invert так же как местный
                  .desc-part
                    p С помощью своего бизнес-аккаунта вы можете быстро настроить прямой дебет и бесплатно совершать платежи через любую сеть. Тратьте, получайте и отправляйте деньги быстро в местной валюте без дополнительных комиссий.
                  .block-control
                    a(href='#').btn.btn--accent.btn--arrow Подробности
                      svg.icon
                        use(xlink:href='#arrow')
                    a(href='#').question Есть вопросы?
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/future.webp', alt='' with='380' height='380')

                    .section-text-img__last-op.typical-block
                      .section-text-img__last-op-item
                        .section-text-img__last-op-title EE Mobile
                        .section-text-img__last-op-status ACTIVE
                      .section-text-img__last-op-item
                        .section-text-img__last-op-item-info LAST: 10 May 2022
                        .section-text-img__last-op-item-info 20.000 C 
                          a(href="#")
                            svg.icon.icon--stroke
                              use(xlink:href='#angle') 
                        
                    .section-text-img__share.typical-block
                      .section-text-img__share-top
                        .section-text-img__share-item
                          div 
                            span SHORT CODE
                            p 62-45-56
                          a(href="#")   
                            svg.icon.icon--stroke
                              use(xlink:href='#copy')  

                        .section-text-img__share-item
                          div 
                            span Account num
                            p 525165165
                          a(href="#")   
                            svg.icon.icon--stroke
                              use(xlink:href='#copy')  
                      .section-text-img__share-bottom
                        p Share
                        a(href="#") 
                          svg.icon
                            use(xlink:href='#share')
        
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh-invert Отправляйте  <br>
                    span.part-mc деньги <br>
                    span.part-sh за границу
                    
                  .desc-part
                    p С нами переводить деньги за границу легко и безопасно — и часто дешевле, чем при отправке через крупный банк. Отправка в более чем 30 стран. И любые входящие международные переводы на ваш бизнес-счет бесплатны!
                  .block-control
                    a(href='#').btn.btn--accent.btn--arrow Подробности
                      svg.icon
                        use(xlink:href='#arrow')
                    a(href='#').question Есть вопросы?
                
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account8.webp', alt='' with='575' height='575')

          .section
            .container
              .col-wrap.section-text-img(style="align-items: stretch")
                .col-wrap__col
                  .title
                    span.part-sh Берите Aizen <br>
                    span.part-mc с собой <br>
                    span.part-sh-invert в командировки
                  .desc-part
                    p Куда бы вы ни отправились, Aizen всегда с вами. Будьте спокойны, зная, что ваши деньги всегда там и доступны для вас, независимо от того, какие или сколько границ вы пересекаете.
                  
                .col-wrap__col
                  .section-text-img__triple-info
                    
                    .section-text-img__triple-info-item.typical-block
                      .section-text-img__triple-info-dropdown
                        img(src="images/dist/users.webp", alt="") 
                        |  Transaction
                        svg.icon.icon--stroke(stroke="#5740A0")
                          use(xlink:href='#angle')
                        
                      p 32,000.00 C
                    
                    .section-text-img__triple-info-item.typical-block
                      .section-text-img__triple-info-control 
                        .section-text-img__triple-info-control-top 
                          span
                            svg.icon
                              use(xlink:href='#document')
                            | Business VAT number  
                          p 35216516651  
                        .section-text-img__triple-info-control-bottom 
                          p Update
                          svg.icon.icon--stroke
                            use(xlink:href='#pencil')

                    a(href='#').btn.btn--accent.btn--arrow Поделиться чеком
                      svg.icon
                        use(xlink:href='#arrow')
                          

          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Пополняйте <br>
                    span.part-mc свой бизнес аккаунт <br>
                    span.part-sh-invert наличными
                    
                  .desc-part
                    p Легко добавляйте средства на свой бизнес-счет наличными. Посетите более 40 000 точек PayPoint или почтовых отделений по всей Великобритании, чтобы мгновенно пополнить свой счет. Вы также можете бесплатно добавить деньги с помощью банковского перевода или между счетами Aizen!
                  .block-control
                    a(href='#').btn.btn--accent.btn--arrow Подробности
                      svg.icon
                        use(xlink:href='#arrow')
                    a(href='#').question Есть вопросы?
                
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account9.webp', alt='' with='575' height='575')
                    

          
        

    include includes/txt-section
    include includes/gradient-section
    include includes/comments
    include includes/footer/footer


  include includes/scripts 