extends layouts/main
block title
  | foreign citizens
block main
  .wrapper
    .content
        include includes/header/header
        
        .hero-full-height
          .container-lg
            .title.title--drop-shadow.tac
              span.part-sh Мгновенные счета в иностранной <br>  
              span.part-mc валюте для иностранных 
              span.part-sh-invert граждан
              
            p.tac Одним поводом для беспокойства меньше при переезде. Зарегистрируйте свою учетную запись без границ сегодня

        include includes/comments

        .section-wrap          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Мобильные денежные <br>
                    span.part-mc счета 
                    span.part-sh-invert иностранцев                    
                  .desc-part
                    p Переезд в другую страну может быть непростой задачей даже для самых опытных экспатов. Будь то работа или отдых, вам есть о чем подумать, когда вы переезжаете. Это ваше заявление на получение визы, разрешение на работу, налоговый номер, проезд, проживание, регистрация для получения медицинской помощи и многое другое.
                    p Но, пожалуй, самое важное, что нужно решить, это то, где вы будете хранить свои деньги на новой родине. Вот где могут помочь наши мгновенные счета в иностранной валюте.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/card-in-hand.webp', alt='' with='575' height='575')
           
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Мобильные денежные <br>
                    span.part-mc счета для мигрантов <br>
                    span.part-sh-invert и фрилансеров
                    
                  .desc-part
                    p По мере того, как все больше и больше иностранных рабочих переходят к образу жизни «цифровых кочевников», традиционные банки и их минимальные пороги депозита становятся все менее и менее привлекательными. Внештатная работа гибкая, и некоторые месяцы могут быть медленнее или загруженнее, чем другие.
                    p Платежи не всегда могут поступать последовательно в установленный день месяца, как могут предпочесть банки. Некоторые банки будут замораживать входящие платежи или угрожать закрыть счета самозанятых работников, которые не регулярно вносят достаточно средств. Наши аккаунты без границ могут дать ответ.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/foreign-citizens1.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Выбирай 
                    span.part-mc Aizen
                    
                  .desc-part
                    p Наши мгновенные мобильные денежные счета для экспатов являются фантастической альтернативой традиционным банкам для людей, находящихся в пути. Они предназначены для гибкого образа жизни, например, для фрилансеров, работающих в разных компаниях, искателей приключений, путешествующих по миру, или иностранных граждан, работающих удаленно.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account4.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Счета в иностранной <br>
                    span.part-mc валюте на ходу
                    
                  .desc-part
                    p Вы можете управлять своим денежным счетом экспата на своем телефоне. Это означает, что ваши деньги всегда доступны, независимо от того, где вы находитесь в мире или куда вы направляетесь дальше! Рассчитывайте на реальный обменный курс, когда вы тратите или снимаете деньги за границей без каких-либо скрытых комиссий. Когда вы путешествуете, тратьте, отправляйте и получайте деньги, как настоящий местный житель!
                    p Совершайте как местные, так и международные 
                      a(href="#") платежи  
                      | без каких-либо дополнительных комиссий или наценок. Наконец, будьте спокойны, зная, что если вы когда-нибудь потеряете свою карту за границей или в путешествии, ваши деньги и счет останутся в безопасности. Быстро заблокируйте карту с помощью приложения для дополнительной 
                      a(href="#") защиты и безопасности
                      | .

                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/foreign-citizens2.webp', alt='' with='575' height='575')
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Оставайтесь на вершине <br>
                    span.part-mc своих денег
                  .desc-part
                    p Легко добавляйте деньги на свой счет различными способами ( 
                      a(href="#") выберите наиболее удобный для вас способ  
                      | ). Вы также можете установить недельный или месячный бюджет, чтобы отслеживать свои деньги и видеть, куда именно идут ваши средства, с помощью уведомлений в режиме реального времени.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/foreign-citizens3.webp', alt='' with='575' height='575')



    include includes/txt-section
    
    .gradient-section
      .container.jcc-fdc
        .gradient-section__desc
          h2.gradient-section__title.tac Зарегистрировать аккаунт
          p.tac И так, чего же ты ждешь? Присоединяйтесь к более чем 2 миллионам людей, которые нашли лучший способ управлять своими деньгами в Интернете. Зарегистрируйтесь в Monese, чтобы открыть счет для мобильных денег сегодня.
        div.tac
          a(href="#").btn.btn--light Зарегистрироваться

        
        


    include includes/footer/footer


  include includes/scripts 