extends layouts/main
block title
  | main
block main
  .wrapper
    .content
        include includes/header/header
        
        include includes/hero
        include includes/partner
        include includes/items-count

        .section-wrap
          include includes/future
          include includes/multilang
          include includes/protect
          include includes/fast
          include includes/making
          include includes/inclusive
          include includes/way
        include includes/txt-section
        include includes/gradient-section
        include includes/comments
         
     

    include includes/footer/footer


  include includes/scripts 