extends layouts/main
block title
  | travel map
block main
  .wrapper
    .content
        include includes/header/header
        
        .hero-full-height
          .container-lg
            .title.title--drop-shadow.tac
              span.part-sh Единственная туристическая карта, <br>  
              span.part-mc которая вам понадобится
              
            p.tac Берите с собой предоплаченную мультивалютную карту Aizen в каждое приключение

        .section-wrap
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Легкий доступ <br>
                    span.part-mc вашим деньгам <br>
                    span.part-sh-invert по всему миру                    
                  .desc-part
                    p Независимо от того, в какой части мира вы находитесь, будьте спокойны, зная, что ваши деньги на поездку в безопасности и всегда с вами, когда они вам понадобятся. С вашей мультивалютной картой Aizen вы всегда можете получить доступ к своим деньгам. Снимайте деньги в любом банкомате по оптовому курсу обмена валюты.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/travel-map1.webp', alt='' with='575' height='575')
           
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Заставьте ваши <br>
                    span.part-mc траты денег <br>
                    span.part-sh-invert идти дальше
                    
                  .desc-part
                    p Некоторые крупные банки могут взимать с вас множество скрытых комиссий за использование вашей карты во время путешествия. Это действительно может испортить ваш отпуск! Но с Aizen вам никогда не придется беспокоиться о скрытых платежах. Мы всегда используем реальные оптовые обменные курсы, что потенциально делает нас дешевле, чем традиционные банки.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/travel-map2.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Добавьте наличные,  <br>
                    span.part-mc прежде чем идти
                    
                  .desc-part
                    p Перед поездкой убедитесь, что ваша туристическая карта загружена! Пополняйте свой счет Aizen наличными в более чем 84 000 пунктах оплаты по всей Великобритании и Европе с помощью почтовых отделений , PayPoint или Paysafecash.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/business-account9.webp', alt='' with='575' height='400')
                    
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Держите деньги на <br>
                    span.part-mc поездку отдельно
                    
                  .desc-part
                    p Откройте дополнительную учетную запись в Aizen , чтобы вы могли планировать свой отпуск и добавлять сумму денег, которую вы хотели бы потратить за границей. Зафиксируйте обменный курс перед поездкой и защитите себя от колебаний валютных курсов во время отпуска. Если у вас заканчиваются средства, мгновенно переводите деньги со своего основного счета. Кроме того, карту не нужно ждать — добавляйте деньги и тратьте с помощью виртуальной карты!
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/travel-map3.webp', alt='' with='575' height='575')
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Мгновенные уведомления о ваших <br>
                    span.part-mc расходах за границей
                    
                  .desc-part
                    p Получайте мгновенные уведомления во время путешествий, чтобы точно знать, сколько вы потратили с помощью мультивалютной карты для путешествий и сколько у вас осталось. В приложении Aizen мы также покажем вам оптовый обменный курс вашей транзакции, чтобы вы знали, сколько вы потратили в местной валюте.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/travel-map4.webp', alt='' with='575' height='575')
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Выберите свой <br>
                    span.part-mc план путешествия
                  .desc-part
                    p Выберите план Aizen , подходящий для вашей поездки. В каждом из наших планов предусмотрены собственные щедрые лимиты на снятие наличных в банкоматах по всему миру и расходы по картам в иностранной валюте. Нужно немного больше? Без проблем! Вы можете обновить в любое время и понизить после ваших путешествий. Мы никогда не привязываем вас ни к чему, поэтому вы можете выбрать лучший план для себя.
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/basic-account4.webp', alt='' with='575' height='575')
          
          .section
            .container
              .col-wrap.section-text-img
                .col-wrap__col
                  .title
                    span.part-sh Ваши деньги и карта <br>
                    span.part-mc в безопасности
                  .desc-part
                    p Путешествуйте повсюду, зная, что вы полностью контролируете свои деньги и счет. Получите доступ к своему приложению с нашим биометрическим логином и легко блокируйте и разблокируйте свою карту, чтобы ваши деньги были защищены, пока они вам не понадобятся. Оплатите виртуальной картой или добавьте свою карту Monese в Apple Pay или Google Pay , чтобы оформить заказ. Оставьте свою карту и дополнительные наличные деньги в кошельке для полной безопасности!
                .col-wrap__col
                  .section-text-img__img
                    img(loading='lazy' src='images/dist/travel-map5.webp', alt='' with='575' height='575')

          .section
            .txt-section 
              .container
                .title.tac
                  span.part-mc Часто задаваемые вопросы о проездных картах 
                
                p.tac Прочитайте ответы на распространенные вопросы о проездных картах ниже. Дополнительную информацию о том, как работает Aizen, можно найти в разделе часто задаваемых вопросов . У нас также есть многоязычная служба поддержки , которая поможет вам во время путешествия.
                    
                .accordion
                  mixin item(title)
                    .accordion__item
                      .accordion__title=title
                        svg.icon.icon--stroke
                          use(xlink:href='#angle')
                      .accordion__desc
                        mixin p(p)
                          p=p
                        block
                  +item('Что такое проездной?')
                    +p('Проездная карта — это карта, на которую вы можете предварительно загрузить деньги, чтобы взять их с собой за границу. Также известная как туристическая денежная карта или мультивалютная карта, вы можете использовать ее, чтобы тратить или снимать деньги, которые вы добавляете, так же, как и с дебетовой картой дома.')
                    +p('Туристические карты идеально подходят для составления бюджета во время отпуска, поскольку вы можете потратить ровно столько, сколько на них загружено. Это не похоже, например, на кредитную карту, которая может облегчить увлечение и перерасход. Использование проездной карты также безопаснее и удобнее, чем носить с собой много наличных денег. Вы можете выбрать валюту для пополнения карты в зависимости от пункта назначения и заранее зафиксировать обменный курс. По прибытии ваша проездная карта будет работать в любой банкомате, магазине или ресторане, которые принимают платежную сеть вашей карты.')
                  
                  +item('Является ли Aizen проездным?')
                    +p('lorem')

                  +item('Каковы преимущества предоплаченной проездной карты?')
                    +p('lorem')

                  +item('Какие валюты я могу добавить на карту Aizen Travel Money?')
                    +p('lorem')

                  +item('Сколько стоит проездной?')
                    +p('lorem')

                  +item('Что, если у меня закончатся деньги?')
                    +p('lorem')


                



          
          .gradient-section
            .container.jcc-fdc
              .gradient-section__desc
                h2.gradient-section__title.tac Присоединяйтесь к Monese сегодня, чтобы получить проездной, который намного больше!
                p.tac Хотите выгодный обменный курс и большие расходы по карте в иностранной валюте? Не отправляйтесь в следующую поездку без Monese в кармане. Загрузите наше приложение, чтобы зарегистрироваться за считанные минуты и взять нас с собой в следующее приключение!
              div.tac
                a(href="#").btn.btn--light Зарегистрироваться


        

    include includes/footer/footer


  include includes/scripts 